.calenderWrap{
  float: left;
  width: 30%
}

.gridWrap{
  float: right;
  width: 60%
}

.mainWrap{
  margin-top: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

.selectionHeading{
  margin-left: 90px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.calander{
  display:inline-block;
  margin-left: 40px;
}

.mainButtonWrap{
  margin-left: 13px;
}

.mainButtonDanger{
  background-color: #c60303 !important;
}

.mainButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #2a13ef;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
}

.headingWrap{
  float: right;
  width: 73%;
}

.heading{
  color: #FFFFFF;
  font-size: 65px;
}

.wheelImg{
  height: 100px;
  margin-left: 60px
}

.headerWrap{
  width: 100%;
  background-color: #2a13ef;
}

.noScheduleMessage{
    width: 100%;
    display: block;
    font-size: 18px;
}
